<form [formGroup]="loginForm" (ngSubmit)="login()" class="p-4 border rounded shadow-sm" style="max-width: 400px; margin: auto; margin-top: 100px;">
  <h3 class="text-center mb-4">Login</h3>

  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input
      type="email"
      id="email"
      class="form-control"
      formControlName="email"
      placeholder="Enter email"
      required
    />
    <small class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>



  <button type="submit" class="btn btn-primary w-100">Se connecter</button>
</form>
